<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Arma</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container py-5">
        <h1 class="mb-4">Adicionar Nova Munição</h1>
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Nome da Munição</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Nome da Munição (types.xml)</label>
                <input type="text" name="name_type" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Calibre</label>       
                <select class="form-control" name="caliber_id" required></select>         
                {% for caliber in calibers %}                
                    <option value="{{ caliber.id }}">{{ caliber.name }}</option>                
                {% endfor %}
            </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Largura</label>
                <input type="number" class="form-control" name="width" id="width" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Altura</label>
                <input type="number" class="form-control" name="height" id="height" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Slots</label>
                <input type="number" class="form-control" name="slots" id="slots" readonly required>
            </div>
            <div class="mb-3">
                <label class="form-label">URL da imagem</label>
                <input type="text" name="img" class="form-control" value="https://upload.wikimedia.org/wikipedia/commons/6/6a/A_blank_flag.png">
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const widthInput = document.getElementById('width');
            const heightInput = document.getElementById('height');
            const slotsInput = document.getElementById('slots');
    
            function updateSlots() {
                const width = parseInt(widthInput.value);
                const height = parseInt(heightInput.value);
    
                if (!isNaN(width) && !isNaN(height)) {
                    slotsInput.value = width * height;
                } else {
                    slotsInput.value = '';
                }
            }
    
            widthInput.addEventListener('input', updateSlots);
            heightInput.addEventListener('input', updateSlots);
        });
    </script>
</body>
</html>
