<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Regras Globais de Loadout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Gerenciamento de items </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loadout_rules">Regras Globais de Loadout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loadout_players">Players Loadout</a>
                </li>
            </ul>
            </div>
        </nav>
    </div>
    <div class="container py-5">
        <h2>Definir Regras de Loadout para Armas</h2>
            <form method="post" class="mb-4" id="form">
                <div class="mb-3">
                    <label for="weapon_id" class="form-label">Arma</label>
                    <select name="weapon_id" class="form-select" required>
                        {% for weapon in weapons %}
                        <option value="{{ weapon.id }}">{{ weapon.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="is_banned" value="1" class="form-check-input" id="banCheck">
                    <label class="form-check-label text-danger" for="banCheck">Banir arma</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Salvar Regra</button>
                <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Voltar</a>
            </form>

            <h3>Regras Existentes</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Arma</th>
                        <th>Banida</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rule in rules %}
                    <tr>
                        <td>{{ rule.name }}</td>
                        <td class="{{ 'text-danger' if rule.is_banned else '' }}">{{ 'Sim' if rule.is_banned else 'Não' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <a href="{{ url_for('delete_loadout_rules_weapons') }}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir todas as regras?');">Excluir</a>
            </div>
    </div>
    
</body>
</html>
